[Desktop Entry]
Encoding=UTF-8
Type=Application
Icon=/usr/share/pixmaps/minecraft.png
Name=Update Server
Comment=Update the server
Exec=mate-terminal -e "bash /home/student/minecraft-offline/update.sh"
